<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <div>
        <h1>About me</h1>
        <h4>Lemuel Gayle</h4>
        <p> whats up my name is lemuel but I go by LJ or L. I am 31 yeears old, I have 2 girls and I ahve bee married for almost 7 years now. I am a follower of Jesus Christ beacuse he saved me. Some of my Hobbies are traveling, going to the gym and playing football</p>
    </div>
    
</body>
</html>