<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Home Page</h1>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum ea, consequuntur porro facilis ratione optio veritatis eveniet aperiam aliquid itaque voluptatem placeat? Labore perspiciatis dolorum veniam, ea quisquam voluptatum dignissimos architecto! Officia error culpa dicta accusantium quaerat cumque nesciunt voluptate exercitationem. Nostrum in assumenda officiis eius omnis sequi esse labore.</p>
    </div>
</body>
</html>