<nav class="navbar navbar-expand-lg bg-dark navbar-dark"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">LG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list' %}">Posts </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new' %}">New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'draft_posts' %}">Drafts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'archived_posts' %}">Archived</a>
        </li>
        <li class="nav-item">
            <form action="{% url 'logout' %}" method="post" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link border-0 m-0 p-2">Log Out</button>
            </form>
        </li>

        {% else%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up </a>
          </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
        <div class="d-flex align-items-center">
          <span class="badge text-bg-info">{{user.username}}</span>
          <img src="https://picsum.photos/500/600" alt="Profile" class="rounded-circle border border-white" style="width: 40px; height: 40px; object-fit: cover;">
        </div>
       {% endif %}
      
      
    </div>
  </div>
</nav>

